<html>
    <body>
        <h3>Witaj ${firstName} ${lastName},</h3>
        <h4>Otrzymaliśmy prośbę zmiany Twojego hasła w openpkw.pl</h4>

        <div style="margin: 5px; padding: 10px">
            <a href="${serverAddress}/changePassword?id=${token}"><div>Przejdź do zmiany hasła</div></a>
        </div>
    <div>Jeżeli zignorujesz ten mail hasło nie zostanie zmienione.</div>
    <div>Jeżeli nie próbowałeś zmienić hasła: <a>Daj nam znać</a></div>
    </body>
</html>